body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main--border {
  border-top: 1px solid #ececec;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link--policy {
  text-decoration: underline;
  color: #2196f3;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  z-index: 5;
}

.logo--accent {
  color: #2196f3;
}

.logo--color {
  color: var(--primary-bg-color);
}

@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
  }
}

.header__btn {
  padding: 0;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  border: none;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__icon {
  display: block;
}

.menu--is-open .header__icon {
  display: none;
}

.header__icon:hover, .header__icon:focus {
  fill: #2196f3;
}

.header__icon-close {
  display: none;
}

.menu--is-open .header__icon-close {
  display: block;
}

.header__icon-close:hover, .header__icon-close:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    position: absolute;
    top: 60px;
    left: 0;
    padding-top: 60px;
    width: 100%;
    height: 453px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    text-align: center;
  }
}

.header-nav.menu--is-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu__link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link-current {
  position: relative;
  color: #2196f3;
}

.menu__link-current::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .menu {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .menu__link {
    padding-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    padding-top: 24px;
    padding-bottom: 29px;
  }
}

.contacts-list__item {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
/*# sourceMappingURL=portfolio.css.map */