.header-container {
	display: flex;

	background-color: $white;
	outline: 1px solid #ececec;
	z-index: 55;
	@media screen and (max-width: 767px) {
		position: fixed;
		top: 0;
		height: 60px;
		align-items: center;
		justify-content: space-between;
	}
	@media screen and (min-width: 768px) {
		position: fixed;
		top: 0;
		height: 80px;
		display: flex;
		align-items: center;
	}
	@media screen and (min-width: 1200px) {
		position: static;
		height: 80px;
		outline: none;
		border-bottom: 1px solid #ececec;
	}
}
